<!-- GUZMANBOARD.SHOP HEADER -->
<header class="font-arial">
    <section id="navbarFrame" class="w-full flex-between innerLayout">
        <div>
            <a class="text-black guzman text-decoration-none h:text-decoration-underline" href="/">guzman</a>
        </div>

        <div class="w-half">
            <nav class="flex-end">
                <li class="list-style-none"><a class="text-black text-decoration-none h:text-decoration-underline" href="/about">about</a></li>
                <li class="list-style-none"><a class="text-black padding text-decoration-none h:text-decoration-underline" href="/contact">contact</a></li>
                <li class="list-style-none"><a class="text-black text-decoration-none h:text-decoration-underline" href="/cart">cart</a></li>
            </nav>
        </div>
    </section>
</header>