<!-- GUZMANBOARD.SHOP HEADER -->
<header class="header m-50x10">
    <section id="navbarFrame" class="w-full flex-between">
        <div class="w-half">
            <a class="text-black guzman h:text-decoration-underline" href="/">guzman</a>
        </div>

        <div class="w-half">
            <nav class="flex-end">
                <a class="text-black h:text-decoration-underline" href="/about">about</a>
                <a class="text-black padding h:text-decoration-underline" href="/contact">contact</a>
                <a class="text-black h:text-decoration-underline" href="/cart">cart</a>
            </nav>
        </div>
    </section>
</header>