@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// $bg-lg-50: hsl(62, 100, 50, 30%);
$bg-lg-50: rgb(255, 255, 107, 0.3);
$text-black: #000000;
$bg-white: #ffffff;
$black: #000000;
$white: #ffffff;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

// Framing Arena
.m-50x10 {
    margin-top: 1.25rem;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}

.m-50 {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}

// Width Arena
.w {
    &-half { width: 50%; }
    &-full { width: 100%; }
}

.h-95x5 { height: 95.5vh; }

.flex {
    &-between {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }

    &-center {
        display: flex;
        // align-content: center;
        justify-content: center;
    }

    &-evenly {
        display: flex;
        align-content: center;
        justify-content: space-evenly
    }

    &-end {
        display: flex;
        justify-content: end;
    }
}

.list-style {
    &-none { list-style: none; }
    &-type { list-style-type: none; }
}

.padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn {
    width: 263px;
    height: 77px;
    padding: 10px 16px;
    border-radius: 2px;
    text-decoration: none;
    border: 1px solid $black;

    button {
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 50px;
        background-color: transparent;
    
        // .btn {}
    }
}

/* Frame 40 */
// .btnFrame-40 {}

// .shop-now {
//     font-size: 50px;
// }

/* Candles that feel as good as they look */
.headline-title {
    top: 0px;
    left: 0px;
    width: 600px;
    height: 327px;
    position: static;

    font-size: 90px;
    color: #000000;
    line-height: 109px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    mix-blend-mode: normal;

    /* Inside Auto Layout */
    order: 0;
    flex: none;
    flex-grow: 0;
    margin: 40px 0px;
}

/* A handcrafted cutting board that make you want to use it. */
.subhead-title {
    left: 0px;
    top: 367px;
    width: 600px;
    height: 70px;
    position: static;

    font-size: 30px;
    color: #000000;
    line-height: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    mix-blend-mode: normal;

    /* Inside Auto Layout */
    order: 1;
    flex: none;
    flex-grow: 0;
    margin: 40px 0px;
}

/* Frame 37 */
.framed-fixed {
    // top: 67px;
    // left: 50px;
    width: 1440px;
    height: 1024px;
    // position: absolute;

    /* Light Gray */
    // border-radius: 22px;
    background: #CCCCCC;
    mix-blend-mode: normal;
}

.ss1440x1024 {
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    position: relative;

    background: #FFFFFF;
}

// Text Color Black Arena
.text-black { color: $text-black; }

// Background Color Arena
.bg {
    &-gray-200 { background-color: #cccccc; }
    &-purple-200 { background-color: royalblue; }
    // Temp Background Color
    // &-idk { background-color: #ffa500; }
    // Temp Background Color
    &-green-500 { background-color: green; }
}

.text-decoration {
    &-none {text-decoration: none; }
    // &-underline:hover { text-decoration: underline; }
}

// Company Font Style Arena
.guzman {
    font-weight: 600;
    font-family: 'Familiar Pro', sans-serif;
}

.font {
    &-inter { font-family: 'Inter', sans-serif; }
    &-arial { font-family: Arial, Helvetica, sans-serif; }
    &-bold { font-weight: bold; }
}

// Main Frmae Arena
.framed {
    margin-top: 1.25rem;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    // margin-bottom: 0;
    background-color: $bg-lg-50;

    //
    .innerLayout {
        // 

        li { display: inline-block; }

        li a {
            // text-decoration: none;
            display: inline-block;
            color: $text-black;
            // font-family: Arial, Helvetica, sans-serif;
            font-weight: lighter;
            // font-size: 28px;
            // padding: 0 20px;
        }

        // My version of text decoration underline
        .h\:text-decoration-underline::after {
            width: 0;
            height: 2px;
            content: "";
            display: block;
            // margin-top: 2px;
            transition: width 0.3s;
            background-color: $text-black;
        }

        // Hover Text Decoration
        .h\:text-decoration-underline:hover::after {
            width: 100%;
            transition: width 0.3s;
        }
    }
}