@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.m-50x10 {
  margin-top: 1.25rem;
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

.m-50 {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

.w-half {
  width: 50%;
}
.w-full {
  width: 100%;
}

.h-95x5 {
  height: 95.5vh;
}

.flex-between {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-evenly {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}
.flex-end {
  display: flex;
  justify-content: end;
}

.list-style-none {
  list-style: none;
}
.list-style-type {
  list-style-type: none;
}

.padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  width: 263px;
  height: 77px;
  padding: 10px 16px;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid #000000;
}
.btn button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 50px;
  background-color: transparent;
}

/* Frame 40 */
/* Candles that feel as good as they look */
.headline-title {
  top: 0px;
  left: 0px;
  width: 600px;
  height: 327px;
  position: static;
  font-size: 90px;
  color: #000000;
  line-height: 109px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  mix-blend-mode: normal;
  /* Inside Auto Layout */
  order: 0;
  flex: none;
  flex-grow: 0;
  margin: 40px 0px;
}

/* A handcrafted cutting board that make you want to use it. */
.subhead-title {
  left: 0px;
  top: 367px;
  width: 600px;
  height: 70px;
  position: static;
  font-size: 30px;
  color: #000000;
  line-height: 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  mix-blend-mode: normal;
  /* Inside Auto Layout */
  order: 1;
  flex: none;
  flex-grow: 0;
  margin: 40px 0px;
}

/* Frame 37 */
.framed-fixed {
  width: 1440px;
  height: 1024px;
  /* Light Gray */
  background: #CCCCCC;
  mix-blend-mode: normal;
}

.ss1440x1024 {
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  position: relative;
  background: #FFFFFF;
}

.text-black {
  color: #000000;
}

.bg-gray-200 {
  background-color: #cccccc;
}
.bg-purple-200 {
  background-color: royalblue;
}
.bg-green-500 {
  background-color: green;
}

.text-decoration-none {
  text-decoration: none;
}

.guzman {
  font-weight: 600;
  font-family: "Familiar Pro", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}
.font-bold {
  font-weight: bold;
}

.framed {
  margin-top: 1.25rem;
  margin-left: 3.125rem;
  margin-right: 3.125rem;
  background-color: rgba(255, 255, 107, 0.3);
}
.framed .innerLayout li {
  display: inline-block;
}
.framed .innerLayout li a {
  display: inline-block;
  color: #000000;
  font-weight: lighter;
}
.framed .innerLayout .h\:text-decoration-underline::after {
  width: 0;
  height: 2px;
  content: "";
  display: block;
  transition: width 0.3s;
  background-color: #000000;
}
.framed .innerLayout .h\:text-decoration-underline:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/*# sourceMappingURL=wireframe.css.map */
