<!DOCTYPE html>
<html>
    <%- include('../partials/head'); -%>
    <title><%- title -%></title>
<body>
    <%- include('../partials/header'); -%>

    <!-- <main class="">
        <section class=""></section>
    </main> -->
    <h1>Hello Aboute!</h1>
</body>
</html>