<!DOCTYPE html>
<html class="framed">
<head>
    <%- include('../partials/head'); -%>
    <title><%- title -%></title>
</head>
<body class="font-arial">
    <%- include('../partials/header'); -%>

    <!-- <main class="">
        <section class=""></section>
    </main> -->
    <!-- <h1>Hello World with Navigation!</h1> -->
    <h1 class="headline-title">Candles that feel as good as they look</h1>
    <p class="subhead-title">A handcrafted cutting board that make you want to use it.</p>
    <a class="btn shop-now flex-center" href="/modularb"><button>Shop Now</button></a>
    <section class="ss1440x1024">
    </section>
</body>
</html>