<!DOCTYPE html>
<html>
    <%- include('../partials/head'); -%>
    <title><%- title -%></title>
<body>
    <%- include('../partials/header'); -%>

    <%- include('../partials/product'); -%>
</body>
</html>